// Fonts!

$roboto-slab: 'Roboto Slab', serif;   
$open-sans: 'Open Sans', sans-serif;

// Colors
$fws-blue: #369;

// Links

$link-color: #08c;
$link-color-hover: darken($link-color, 10);
$link-color-active: lighten($link-color, 20);
$link-color-visited: darken($link-color, 10);
